[{{repository.full_name}}] "{{sender.login}}" {{action}} pull request into "{{pull_request.base.ref}}" from "{{pull_request.head.ref}}".
"{{{pull_request.title}}}" - {{{pull_request.html_url}}}
{{{pull_request.body}}}